#mag1{
    margin: 20px;
    margin-bottom: 10px;
    background-color: rgb(81, 81, 238) ;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    cursor: pointer;
    border-radius: 10px;
    border-width: 6px;
    border-color: rgb(84, 84, 228);
    font-weight: bold;
}

#mag2{
    margin: 20px;
    background-color: rgb(142, 39, 238);
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer ;
    border-width: 6px;
    border-radius: 10px;
    border-color: rgb(175, 70, 228);
    background-position: center;
    flex-direction: row-reverse;
    font-weight: bold;

    
}

#mag1:hover{
    color: white;
    background-color: rgb(11, 11, 97);

}

#mag2:hover{
    color: white;
    background-color: rgb(52, 5, 97);

}
#div1{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-style: oblique;
    box-sizing:content-box;
    text-overflow: ellipsis;
    margin-left: 430px;
    margin-top: 60px;
    height: 28px;
    width: 336px;


}
    

.none{
    display: flex;
    margin-bottom: 100px;
    margin-left: 400px;
    position: relative;
    /*font-weight: bolder;*/

}