*{ 
     margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}


.body{
    justify-content: center;
}

.message{
    background-color: darkcyan;
    padding: 10px;
    color:white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;

}

.user_message{
    margin-left: auto;
    
}

.fixed{
    padding: 5px;
    font-size:20px;
    border: rgb(229, 224, 235);
    background-color: turquoise;
    border-radius: 10px;
    width: 130px;
    margin-left: 200px;

}

.foot{
    padding: 10px;
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-family:cursive;

}
.footer{
    position: fixed;
    bottom: 0;
    z-index: 0;
    left: 0;
    right: 0;
}

